.firstQuest{
 padding:1rem;

  &--firstSpan{
    display:block;
    padding:2rem;
    padding-top:1em;
    
  }
  &--form{
    margin-top:2em;
    padding:2rem;
    background-color: pink;
    @include flexBox(column,center, center);
    h3{
      font-size:24px;
      font-family: Bree Serif;
      text-align: center;
    }
    select{
      background-color: black;
      padding:10px;
      font-family: Uncial Antiqua;
      border:none;
      font-size:20px;
      color: whitesmoke;
      display:block;
      margin: 0 auto;
    }
    input[type="text"]{
      background-color: antiquewhite;
      border:1px solid;
      font-size:20px;
      padding:1rem;
      display: block;
      margin: 0 auto;
      font-family: Bree Serif;
    }
    
    input[type="submit"]{ 
      background-color: black;
      padding:10px;
      font-family: Uncial Antiqua;
      border:none;
      font-size:30px;
      color: whitesmoke;
      margin-top:2em;
    }
  }
}

.denied{
  color:whitesmoke;
  background-color: black;
  text-align: center;
  padding:10px;
}

.secondQuest{
  padding:1rem;
  background-color: antiquewhite;
  min-height: 190vh;
  
  
  &__password{
    input[type="text"]{
      background-color: white;
      font-size: large;
      font-family: MerriWeather;
      border:none;
      padding:4px;
      margin-right:1rem;
    }
    input[type="submit"]{
      background-color: black;
      color:whitesmoke;
      font-size: large;
      padding: 4px 6px;
      border:none;
      margin-right:1rem;
    }
    input[type="submit"]:hover{
      background-color: pink;
      color:black;

    }
  }
  &__revealed{
    
    &--container{
      display:block;
      padding-top:3em;

      img{
       border-radius: 50%;
       max-height: 300px; 
       max-width: 400px;
       display:block;
       margin: 0 auto;
       margin-bottom:5em;
       
      }
      button{
        cursor: pointer;
        margin:1rem;
        padding:10px;
        border-radius: 9px;
        background-color: pink;
        font-size:20px;
        font-family: Bree Serif;
        a{
          font-family: Bree Serif;
          color:black;
        }
      }
      button:hover{
        transform: rotate(3deg);
      }
      button:active{
        background-color: white;
      }
      button{
        @include breakpoint(max-640){
          display:flex;
          flex-direction: column;
        }
      }
      button:hover{
        background-color: whitesmoke;
      }
    }
  }
}

.mapcontainer{
  
  h2{
    line-height: 1em;
    flex-wrap: wrap;
  }
  iframe{
     width:100%;
     height:500px;
    }
}

.ozelot{
  position: relative;
	background: #ffffff;
	border-radius: .4em;
  width:200px;
  margin: 0 auto;
  h2{
    font-size:40px;
    text-align: center;
  }
  &--wrapper{
    position: relative;
    top:-8rem;
    
    margin-bottom:-7rem;
  }
}
.ozelot:after{
  content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0px;
	height: 0;
	border: 40px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	margin-left: -20px;
	margin-top: -40px;
}

.reveal{
  &--error{
    padding:4rem;

  }
 
  &--right{
   padding: 3rem;
   background-color: beige;
   z-index:10;
   position:absolute;
   top: 10px;
   width:100%;
   flex-wrap: wrap;
   height:100%;

   h2{
    flex-wrap: wrap;
    padding-right:2rem;
    margin-right:1em;
    line-height: 3rem;
    @include breakpoint(min-640){
      line-height: 5rem;
    }
   }
   h3{
    font-size:30px;
    margin-right:4rem;
   }
  
   

  }

  &__map{
    background-color: black;
    padding:2rem;
    width:100%;
    margin-left:-4rem;
    margin-top:-1rem;
    z-index:20;
    position: absolute;
    top:0;
    height:2900px;
    color:antiquewhite;
    h1{
      margin-top:3em;
      width:80%;
      margin-right:10px;
    }
    iframe{
    margin-left:-1rem;
     width:80%;
     height:500px;
    }
    button{
      border:none;

      @include breakpoint(max-640){
        display:flex;
        flex-direction: column;
      }
    }
    button:hover{
      background-color: whitesmoke;
     
    }
  }

&__buttonList{
  @include flexBox(column,flex-start,space-between);
  width:100%;
  button{
    cursor: pointer;
    margin:1rem;
    padding:10px;
    border-radius: 9px;
    background-color: pink;
    font-size:20px;
    a{
      color:black;
    }
  }
  button:hover{
    transform: rotate(3deg);
  }
  button:active{
    background-color: white;
  }
}

&{--answer{
  padding:2rem;
}
}}

.rightambulans{
  display: flex;
  flex-direction: row;
  img{
    max-width:30%;
    border-radius: 19px;
    margin-left:4px;
  }
 }


.thirdStop{
 padding:2rem;
 min-height: 190vh;

 &__map{
  max-width:90%;
  button{
    cursor: pointer;
    margin:1rem;
    padding:10px;
    border-radius: 9px;
    background-color: pink;
    font-size:20px;
    font-family: Bree Serif;
    a{
      font-family: Bree Serif;
      color:black;
    }
  }
  button:hover{
    transform: rotate(3deg);
  }
  button:active{
    background-color: white;
  }
 }

 &__clues{

  &--img{
    max-width: 40%;
  }
 
    
    padding:2rem;
    width:50%;
    button{
      background-color: turquoise;
      border:none;
      font-weight: bold;
      margin-top:1rem;
      margin-bottom:1rem;
      font-family: Merriweather;
      padding:1rem;
      cursor: pointer;
    }
    p{
      font-size:24px;
    }
   

 }

 &__treasure{
  z-index:90;
  min-height: 190vh;;
  background-color: black;
  color:white;
  width:100%;
  position: absolute;
  top:0;
  padding:3rem;
  margin-left:-3rem;
  img{
    max-width: 100%;
    min-width:400px;
    border-radius:9px;
    margin-bottom:2em;
    margin-top:1em;
  }

 }

 h1{
  margin-bottom:1em;
  
 }
 &__form{
 
  width:100%;
  @include flexBox(column,center,space-around);
  select{
    background-color: pink;
    color:black;
    padding:2rem;
    font-size:20px;
    border:none;
    border-radius: 9px;
    font-family: MerriWeather;
  }
 
  input[type="submit"]{
    margin-top:1rem;
    border-radius: 9px;
    background-color: black;
    color:white;
    border:none;
    padding:2rem;
    font-size:20px;
  }
 }
}



.fact{
  li{
    list-style-type: none;
    margin-top:10px;
    padding-right:2em;
  }
}

.fourthStop{
  background-color: black;
  color: antiquewhite;
  min-height: 190vh;
  position:absolute;
  width:100%;
  padding:2rem;
}

.fifthStop{
  &__content{
    h3{max-width:80%;}
  }

  &__quest{
    h3{max-width:80%;}
   margin-bottom:2em;
 
  }
  &__map{
    iframe{
      width:90%;
      min-width:400px;
      height:600px;
    }
   
  }
  background-color: black;
  color: antiquewhite;
  min-height: 190vh;
  position:absolute;
  width:100%;
  padding:2rem;
  button{
    cursor: pointer;
    margin:1rem;
    padding:10px;
    border-radius: 9px;
    background-color: pink;
    font-size:20px;
    font-family: Bree Serif;
    a{
      font-family: Bree Serif;
      color:black;
    }
  }
  button:hover{
    transform: rotate(3deg);
  }
  button:active{
    background-color: white;
  }
  
}

