@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&display=swap');

body {
background-color: pink;
margin: 0 auto;
padding:2rem;
font-family: Lato;
}
.welcome{
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}
.img_welcome{
  height:30%;
 
  position:absolute;
  top:-4rem;
  right:30%;
  z-index:1;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.img_welcome:hover{
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

.welcomeheader{
  position:absolute;
  top:15rem;
  left:5rem;
}
.welcome--txt span{
  position:relative;
  top:20rem;
  padding:4rem;
  
}
.welcome--txt p{
  font-family: "Bree Serif";
  font-size:18px;
}

.really-big-text{
  font-family:Pacifico;
  font-size:80px;
  z-index:2;
}
.img--round{
  border-radius: 50%;
}

.column{
  display:flex;
  flex-direction: column;
}

.row{
  display:flex;
  flex-direction: row;
}
.row h3{
  padding-right:3rem;
}

.input-svar{
  max-width:50%;
  background-color: black;
  color:white;
  padding:3rem;
}

.input-svar input{
  margin-top:10px;
  padding:4px;
  
}
.input-svar .sendButton{
  margin-top:10px;
  margin-left:6px;
  background-color: pink;
  border:none;
  border-radius: 3px;
  color:black;
  font-weight: bold;
  text-transform: uppercase;
}
.input-svar .sendButton:active{
  background-color: white;
}

.revealAnswer{
  margin-top:10px;
  font-size:24px;
  font-family:Bree serif;
}

.response button{

  font-size:26px;
  background-color: pink;
  padding:1rem;
  border:none;
  
}
.response button a{
  text-decoration: none;
  color: black;
  font-family:Bree serif;
}
.response button:hover{
  background-color: darksalmon;
}
.response button:active{
  background-color: white;
}



.first-quest-container span p{
  margin-top:-5rem;
  width:60%;
 
}

.smallImg{
  height:200px;
}

.resultat {
  padding:1rem;
}

.Bree {
  
  font-family: Bree Serif;
}
.font--20{
  font-size:20px;
}

.above{
  z-index:3;
  
}

.resultat{
  background-color: whitesmoke;
  width:50%;
  margin: 0 auto;
  position:absolute;
  top:20%;
  left:20%;
}
.resultat .column{
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.resultat h3{
  margin-bottom:1rem;
  padding:1rem;
}
.resultat .row img{
  border-radius: 19px;
  margin-top:2rem;
}

.first-quest-form{
  background-color: black;
}

.resultat button{
  background-color: black;
  color:whitesmoke;
  padding:1rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 19px;

}

.resultat button:hover{
  background-color: pink;
  color:black;
}

.resultat button:active{
  background-color: whitesmoke;
  color:black;
}

.mapContainer{
  background-color: black;
  color: whitesmoke;
  padding:10px;
  margin-top:3rem;
  z-index:20;
  position:absolute;
  top:20%;
}


.first-quest-form{
  color:pink;
  padding:2rem;
  max-width:50%;
  margin: 0 auto;
}

.first-quest-form div{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.first-quest-form div label{
  color:white;
  margin-bottom:8px;
  margin-top:8px;
  font-size: 20px;
  max-width:300px;
  text-align: center;

}

.first-quest-form input {
  max-width:300px;
  border:none;
  font-size: 20px;
  padding:0.3rem;
}
.first-quest-form select {
  max-width:300px;
  text-align: center;
  padding:0.8rem;
  border:none;
  font-size: 20px;
  border-radius: 9px;
  margin-bottom:1rem;
}

.sendFirst {
  background-color: pink;
  padding:0.8rem;
  
}

.first-quest-form .restart{
  background-color: black;
  color:whitesmoke;
  font-size: 20px;
  text-decoration: underline;
  max-width:80px;
  border:none;
  margin-left:2rem;

}
.first-quest-form .restart:hover{
  background-color: pink;
  color: black;
}
.first-quest-form .restart:active{
  background-color: black;
  color: black;
}

.resultat button {
  margin: 9px;
  
}
.resultat .next{
  background-color: pink;
}
.resultat .next:hover{
  background-color: black;
}

.resultat a{
  color: black;
  text-decoration: none;
}
.resultat .next a:hover{
  color: white;
}


@media screen and (max-width: 600px){
  .welcome{
    padding:-1rem;
  }
  .really-big-text{
  
    font-size:60px;
    
 
  }
  .welcome--txt p{
   max-width:90%;
  }
  .resultat .column .row {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .resultat h3{
    margin-top:-1rem;
  }
  .resultat .column .row img{
    width:80%;
    margin-top:-1rem;
  }

  .mapContainer{
    max-width: 100%;
    left:0;
    top:5%;
  }
  .mapContainer iframe{
    max-width: 100%;
  }
}

.center{
  text-align: center;
}



@media screen and (min-width: 600px){
  .really-big-text{
  padding-bottom:3rem;
  }
  .welcomeheader{
    position:absolute;
    top:13rem;
    left:5rem;
  }
  .welcome--txt span{
    position:relative;
    top:20rem;
    padding:4rem;
    left:5rem;
  
  }
  .welcome--txt p{
    padding-right:8rem;
  }
}

@media screen and (max-width: 800px){
  .resultat {
    width:80%;
    left:5%;
  }
  .first-quest-container span p{
    margin-top:1rem;
  }
}