@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

h1, h2 {
  font-family: Pacifico;
  }

.bree{
  font-family: MerriWeather, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pacifico{
  font-family: Pacifico;
}

.really-big-text{
   font-size: 92px;
   line-height:1rem;
  
    @include breakpoint(max-768){
      font-size:70px;
      line-height:1rem;
    }
    @include breakpoint(max-640){
      font-size:50px;
    }
}

.normal-text{
  font-size:34px;
}
.slightly-morenormal{
  font-size:20px;
}

.error{
  font-size:52px;
}

