
body{
  margin: 0 auto;
  font-family: Bree serif;
}

.img{
  &--round{
    border-radius: 50%;
  }
}
.row{
  @include flexBox(row, center, center);
  @include breakpoint(max-768){
    @include flexBox(column,center,space-around);
  }
  
}
.column{
  @include flexBox(column,center,space-between)
}