.character__sheet{
  display: flex;
  flex-direction: column;
  padding:1rem;
  margin-bottom:4em;
}

table, td {
  border: 1px solid;
  font-family: MerriWeather;
  background-color: antiquewhite;
}
td{
  flex-wrap: wrap;
  padding-left:4px;
  max-width:60%;
  min-width:40%;
}



th{
  float:left;
  font-family: Uncial Antiqua;
  font-size:44px;
  padding:4px;
}
td, th{
  padding: 15px;
  text-align: left;
}

